/* body {
    display: flex;
    background-image: url(./assets/img/bg.jpg);
    background-color: #acdeea;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "Clear Sans", sans-serif;
    font-size: 21px;
  } */

  .game-holder{
    display: flex;
    background-image: url(./assets/img/bg.jpg);
    background-color: #acdeea;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "Clear Sans", sans-serif;
    font-size: 21px;
    height: 100vh;
  }

  .details-box{
   
    width: 440px;
  }